@model LimitesCredito.Models.LIMITES_CREDITOS_LIC

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LIMITES_CREDITOS_LIC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDE_CONTRATO_TERCEIRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDE_CONTRATO_TERCEIRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAT_EXPIRA_LIMITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAT_EXPIRA_LIMITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DES_OBSERVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_OBSERVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTD_PARCELAS_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTD_PARCELAS_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLR_TOTAL_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLR_TOTAL_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PER_TAXA_OPERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PER_TAXA_OPERACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLR_TARIFA_OPERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLR_TARIFA_OPERACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLR_TOTAL_DESCONTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLR_TOTAL_DESCONTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLR_LIQUIDO_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLR_LIQUIDO_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_PARCELA_INICIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_PARCELA_INICIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDE_MOTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDE_MOTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIS_SITUACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIS_SITUACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_LOGIN_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_LOGIN_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAT_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAT_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DES_APROVACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_APROVACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STS_LIMITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STS_LIMITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAT_INCLUSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAT_INCLUSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_LOGIN_INCLUSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_LOGIN_INCLUSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_IP_INCLUSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_IP_INCLUSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAT_ALTERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAT_ALTERACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_LOGIN_ALTERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_LOGIN_ALTERACAO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
